<!DOCTYPE html>
<html ng-app="Campus360">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width,initial-scale=1.0">
    <script src ="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>College Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="dashboardcontroller">
<input type="text" ng-model="collegename" placeholder="Enter College Name">
<input type="number" ng-model="totalstudents" placeholder="Enter Total Students">
<input type="number" ng-model="totalfaculty" placeholder="Enter Total Faculty">
<hr>
<h1>{{collegename}}</h1>

<p ng-class="{'green': totalstudents > 1000, 'red': totalstudents < 1000}">
    Total Students : {{totalstudents}}
</p>

<button ng-click="addStudent()">
    ADD STUDENT
</button>

<p ng-style="{'color' : totalfaculty >=100 ? 'green':'red','fontsize':'25px'}">Total Faculty : {{totalfaculty}}</p>

<hr>
<h1>Student List</h1>



    <ul>
        <li ng-repeat="student in students">
            {{student.name}}
        </li>
    </ul>
<hr>
    <h2 style="color:rgb(157, 3, 83)">Filter Demo</h2>

    <p>Uppercase: {{collegename | uppercase}}</p>
    <p>Lowercase: {{collegename | lowercase}}</p>
    <p>Currency: {{fees | currency}}</p>
    <p>Indian Currency: {{fees | currency:'₹'}}</p>
    <p>Date: {{today | date:'dd/MM/yyyy'}}</p>

    <hr>
    <h1 style="color:rgb(255, 102, 0)">Department List</h1>
    <label for="department">Select Department:</label><br>
    <select ng-model="selectedDepartment" ng-options="dept for dept in department">

    </select>
    <h3>Selected Department: {{selectedDepartment}}</h3>

    

    <h2 style="color:blue">Department Info</h2>
    <div ng-switch="selectedDepartment">
        <div ng-switch-when="CSE">
            <h3>Computer Science and Engineering</h3>
            <p>The CSE department focuses on computer systems, software development, and programming languages.</p>
        </div>
        <div ng-switch-when="ECE">
            <h3>Electronics and Communication Engineering</h3>
            <p>The ECE department deals with electronic devices, circuits, communication systems, and signal processing.</p>
        </div>
        <div ng-switch-when="EEE">
            <h3>Electrical and Electronics Engineering</h3>
            <p>The EEE department covers electrical systems, power generation, and electronics.</p>
        </div>
        <div ng-switch-when="MECH">
            <h3>Mechanical Engineering</h3>
            <p>The MECH department focuses on mechanical systems, thermodynamics, and manufacturing processes.</p>
        </div>
        <div ng-switch-when="CIVIL">
            <h3>Civil Engineering</h3>
            <p>The CIVIL department deals with construction, infrastructure development, and structural engineering.</p>
        </div>
        <div ng-switch-default>
            <h3>Please select a department to see its information.</h3>
        </div>

    </div>


</body>
</html>

